@use "sass:map";
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../fonts/stylesheet.css';

$primary: #9483b2;
$metro-medium: 'Metropolis Medium';

:root {
    --bs-primary-rgb: 148, 131, 178;
    --bs-primary-text: #53338c;
    --bs-primary-bg-subtle: #d6cde6;
    --bs-border-color: #e3dee6;
    --bs-accordion-btn-focus-border-color: #c2b1df;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(153, 13, 253, 0.25);
}



body {
    font-family: 'Metropolis Light';
    font-size: 16px;
    line-height: 1.3;
}

/**--  typography --**/
@for $i from 1 through 6 {
    h#{7 - $i} {
        font-family: 'Playfair Display', serif !important;
    }
}
.text{
    &-primary {
        color: $primary !important;
    }
}
.fw-bold {
    font-family: $metro-medium;
}
/**--  Accordion --**/
.accordion {
    --bs-accordion-btn-focus-border-color: #c2b1df !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(61, 21, 116, 0.25) !important;
}

/**--  Background --**/ 
.bg-secondary {
    background-color: #f6f9fc !important;
}
.hero-bg {
    background-color: #181e30;                      
    height:100%; 
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    @include media-breakpoint-between('xs', 'lg', $breakpoints: $grid-breakpoints) {
        border-radius: 30px;
        
    }
}      
                              
/**--  Buttons --**/ 
.btn {
    font-family: $metro-medium;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 50px !important;
    transition: all .3s ease;

    &-primary {
        background-color: $primary;
        border-color: $primary;
        outline-color: $primary;
    }
    &-white {
        background-color: $white !important;
        border-color: $white !important;
        outline-color: $white !important;
        color: #573d6c;
        &:hover {
            background-color: #573d6c !important;
            border-color: #573d6c !important;
            outline-color: #573d6c !important;
            color: $white;
        }
    }
    @include media-breakpoint-only('xs', $breakpoints: $grid-breakpoints) {
        font-size: 0.9em;
        padding: 10px 20px !important;
        white-space: nowrap;
    }
}

/**--  Sizing --**/  
.w-85 {
    width: 85%;
}
.w-md-70 {
    @include media-breakpoint-only('md', $breakpoints: $grid-breakpoints) {
        width: 70% !important;
    }
}
.w-170 {
    width: 170px;
}

/**--  Navbar --**/ 
.navbar-brand {
    svg {
        @include media-breakpoint-between('xs', 'md', $breakpoints: $grid-breakpoints) {
            width: 150px !important;
        }
    }
}
.offcanvas-body {
    .navbar-nav {
        .nav-item {
            font-family: 'Playfair Display', serif;
            font-size: 1.5em;
        }
    }
}

/**--  Form --**/ 
.contact-form {
    border-color: $white !important;
    .form-label {
        font-family: $metro-medium;
        font-weight: bold;
        display: block;
        font-size: 1.1rem;
        letter-spacing: 1px;
       
        &.small {
            font-size: 0.8rem !important;
        }
        
    }
    input[type=text],
    input[type=email]{
        border:0;
        border-radius: 0;
        border-bottom: 1px solid $white;
         background-color: transparent;
         color: $white !important;
         &::placeholder {
            color: $white !important;
         }
    }
    textarea {
        border-color: $white !important;
        border-radius: 5px;
         background-color: transparent;
         color: $white !important;
         &::placeholder {
            color: $white !important;
         }
    }
    .form-select{
        border-color: $white !important;
        border-radius: 3px !important;
         background-color: transparent;
         color: $white;
    }
}

/**--  Main content --**/ 
.hero{
    &-section {
        background-image: linear-gradient(to right, #060a19,#25254d, #6e5d90 100%);
        ul li {
            font-size: 1.1em;
        }

        @include media-breakpoint-between('xs','lg', $breakpoints: $grid-breakpoints) {
            .w-xs-50 {
                width: 50% !important;
            }
            &.vh-100 {
                height: 100% !important;
            }
        }
    }
    &-svg {
        position: absolute;
        bottom: 0;
        max-height: 100%;
        max-width: 100%;
        @include media-breakpoint-only('xs', $breakpoints: $grid-breakpoints) {
            width: 100%;
            height: 90%;
        }
    }
    
    &-title {
        font-family: 'Playfair Display', serif !important;
    }
}
.logo-bar {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-between('xs','sm', $breakpoints: $grid-breakpoints) {
        flex-wrap: wrap;
        max-width: 100%;
    }
    &-item {
        @include media-breakpoint-between('xs','sm', $breakpoints: $grid-breakpoints) {
            flex: 0 50% auto;
            width: 50%;
            max-width: 50%;
        }
    }
}
